{
  "extends": [
    "@nuxt/eslint-config"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "off"
    ],
    "no-console": [
      "off"
    ],
    "vue/max-attributes-per-line": ["warn", {
      "singleline": {
        "max": 3
      },      
      "multiline": {
        "max": 1
      }
    }]
  }
}
