# Dependencies
node_modules

# Archive
archive

# Logs
*.log*

# Temp directories
.temp
.tmp
.cache

# Yarn
**/.yarn/cache
**/.yarn/*state*

# Generated dirs
dist

# Nuxt
.nuxt
.output
.vercel_build_output
.build-*
.env
.netlify

# Env
.env
!playground/.env

# Testing
reports
coverage
*.lcov
.nyc_output

# VSCode
.vscode

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Directus
playground/.directus/uploads/*-*-*-*-*__*.jpeg
playground/.directus/uploads/*-*-*-*-*__*.jpg
playground/.directus/uploads/*-*-*-*-*__*.png
playground/.directus/uploads/*-*-*-*-*__*.webp
playground/.directus/uploads/*-*-*-*-*__*.avif